.pencarian-style {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    height: auto;
    width: 100%;
    position: relative;
    z-index: 1;
  
}

.hidden {
    display: none;
}

.top-style {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: #0E1531;
    width: 100%;
    height: 5vh;
    margin-bottom: 10px;
    font-size: 10px;
    color: #ffffff;
  
}

.top-text-style img {
    height: 2.5vh;
    width: auto;
    padding-right: 10px;
}

.top-text-style {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    padding-right: 80px;

}

.navbar-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px 60px;
    position: fixed; 
    width: 100%;
}

.navbar-style-fixed {
    display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0px 60px;
        position: fixed;
        width: 100%;
    background-color: #0E1531;
}
.navbar-login-style {
    margin-right: 80px;
}

.navbar-login-style:hover {
    margin-right: 80px;
}

.navbar-logo-style > a {
    text-decoration: none;
    font-size: 20px;
    
}

.navbar-list-style, .navbar-list-style li  {
    display: flex;
    padding: 0px 40px;
    color: #ffffff;
    font-size: 20px;
}

.link-nav-style {
    text-decoration: none;
}

.link-nav-style li:hover {
    text-decoration:underline;
    text-decoration-color:#FE4D00 ;
    text-underline-offset: 8px;
    text-decoration-thickness: 3px; 
}


.icon-style {
    color: "#ffffff";
    size: "80px";
    
}

.icon-style svg:hover {
    color: #FE4D00;
}

/* destination style */
.destination-style {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80%;
    position: relative;
    bottom: 40px;
    
}

.destination-city-container-style {
    display: block;
    width:100%;
    height: 40px;
}

.destination-city-style {
    padding: 12px 18px;
}

.destination-city-style:nth-child(1){
    border-radius: 20px 0px 0px 20px;
}

.destination-button-style {
    margin: 0;
    padding: 0;
    height: 43px;
    width: 80px;
    border-radius: 0px 20px 20px 0px;
    border: 2px solid #FE4D00;
    background-color: #FE4D00;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header style */

.header-style {
    display: flex;
    flex-direction: column;
    height: 120vh;
    width: auto;
    background-image: url(../../image/header-background.png);
    color:#ffffff;
    background-position: center;
    background-size: cover;
    
    

}

