.container-style {
    margin: 120px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}
.select-menu {
    width: 200px;
    height: auto;
    border-radius: 3px;
    border: 1px solid #DD4300;
    background-color:#ffffff ;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}

.select-btn {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.yy{
        position: relative;
        top: 0.1rem;
        transition: color 1s ease, top 0.4s ease, left 1s ease;
}

.xx{
    margin: 0;
    padding: 0;
}

.select-btn p {
    margin: 0;
    
}
.option-menu {
    width: 220px;
    height: auto;
    border-radius: 3px;
    border: 1px solid #DD4300;
    background-color: #ffffff;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    list-style-type: none;
    margin:10px 0px;
    padding: 0px 0px;
    position: relative;
    bottom: 4px;
    right:0px
}
.option-menu li {
    margin: 0;
    padding: 10px 20px;
    border-bottom: 1px solid #e5e5e5;
}

.hidden {
    display: none;
}