* {
    padding: 0;
    margin: 0;
}

.slider-card-style {
    width: 282px;
    height: 382px;
    margin: 6px;
    display: inline-block;
    border-radius: 20px;
    position: relative;
    box-sizing: border-box;
    cursor: pointer;
    opacity: 0.93;
    background-color: #000000;
}

.slider-card-style:hover {
    opacity: 1;
    box-shadow: 1px 3px 4px #adadadb4;
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.fav-style {
    position: absolute;
    left: 240px;
    top: 20px;
    z-index: 1;
}

.image-card-style {
    width: 282px;
    height: 382px;
    object-fit: cover;
    border-radius: 10px;
}

.card-desc-style {
    display: flex;
    align-items: center;
    width: 100%;
    height: 20%;
    background-color: #fcfcfc;
    opacity: 0.94;
    position: absolute;
    bottom: 0px;
    border-radius: 0 0 10px 10px;
}

.card-desc-style:hover {
    background-color: #ffffff;
    opacity: 1;

}

.text-desc-style {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px;
    height: 80%;
    width: 100%;
}

.rating-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.district-style {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 0 0 4px 0;
    margin: 0;
}

.region-style {
    font-size: 16px;
    font-weight: 500;
    line-height: 10px;
    letter-spacing: 1px;
    margin: 0;
    padding: 0
}







