*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-style {
    background-color: #0E1531;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items:center;
    flex-direction: column;
}


.footer-container-style {
    height: 70vh;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
    /* background-color: aqua; */
}

.footer-language-style {
    height: 50%;
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
    justify-content: space-between;
    /* background-color: red; */
}


.language-container-style {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: auto;
    width: auto;
    
}
.language-container-style> :nth-child(1){
    display: flex;
    align-items: center;
    font-size: 14px; 
    color:#ffffff;
    letter-spacing: 1px;  
}


.language-select-style {
    height: 40px;
    width: 100%;
    background-color: #ffffff;
    border: 0px;
    border-radius: 4px;
}

.language-select-style:nth-child() {
  display: flex;
  flex-direction: row;
}

.language-style > p:nth-child(1) {
    display: flex;
    align-items: center;
    margin-bottom: 3px;
}

.language-value-style{
    width: auto;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    padding: 4px 8px;
    font-size: 9px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.language-value-style.act:hover {
    background-color: #FE4D00;
    color: #ffffff;
}

.language-value-style>:nth-child(1){
    display: flex;
    justify-content: center;
}

.language-value-style>:nth-child(1) img{
    width: 28px;
    height: auto;
}

.select-style {
    width: 90%;
    height: 30px;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 4px;
}

.news-input-style {
    display: flex;
    width: 100%;
    height: 40px;
}

.news-input-style> :nth-child(1){
    display: flex;
    flex-basis: 85%;
    padding: 6px;
    border-radius: 6px 0px 0px 6px;
    border: none;
    font-size: 10px;
}

.button-news-style{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 15%;
    padding: 6px;
    border-radius: 0px 6px 6px 0px;
    margin: 0px;
    border: none;
    background-color: #FE4D00;
}

.footer-explore-style {
    height: 100%;
    flex-basis: 20%;
    color: #ffffff;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    
}


ul.footer-item-style{
    padding: 0;
    margin: 0;
}

.footer-container-style li {
    padding: 0;
    margin: 0;
    line-height: 36px;
    text-decoration: none;
    list-style: none;  
}

.footer-container-style li:hover {
    color: #FE4D00;
    cursor: pointer;
}

.mobile-app-style {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    flex-basis: 25%;
    height: 100%;
    color: #ffffff;
}



.link-app-style img{
    height: 40px;
    width: auto;
    padding-bottom: 20px;
    
}

.language-option-style {
    position: relative;
    top: 3px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 80px;
    width: auto;
    background-color: #ffffff;
}

.sosmed-style {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    width: 35%;
}


